<div class="app-log-detail">
  <div class="close" (click)="closePopup()">
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.2988 1.0355C13.1119 0.843043 12.8583 0.734887 12.5938 0.734887C12.3292 0.734887 12.0756 0.843043 11.8888 1.0355L6.99875 6.05105L2.10875 1.02522C1.92192 0.832765 1.66827 0.724609 1.40375 0.724609C1.13923 0.724609 0.885582 0.832765 0.69875 1.02522C0.30875 1.42605 0.30875 2.07355 0.69875 2.47439L5.58875 7.50022L0.69875 12.5261C0.30875 12.9269 0.30875 13.5744 0.69875 13.9752C1.08875 14.3761 1.71875 14.3761 2.10875 13.9752L6.99875 8.94939L11.8888 13.9752C12.2788 14.3761 12.9088 14.3761 13.2988 13.9752C13.6888 13.5744 13.6888 12.9269 13.2988 12.5261L8.40875 7.50022L13.2988 2.47439C13.6788 2.08383 13.6788 1.42605 13.2988 1.0355Z"
        fill="white"
      />
    </svg>
  </div>

  <h2 class="log-title">Действие</h2>

  <table *ngIf="logData" class="table">
    <tr class="row">
      <td class="title">Пользователь</td>

      <td class="content">
        {{ logData.username }}
      </td>
    </tr>

    <tr class="row">
      <td class="title">Действие</td>

      <td class="content">
        {{ logData.action }}
      </td>
    </tr>

    <tr class="row">
      <td class="title">ID Аналитической панели</td>

      <td class="content">
        {{ logData.rest.dashboard_id || '-' }}
      </td>
    </tr>

    <tr class="row">
      <td class="title">ID Виджета</td>

      <td class="content">
        {{ logData.rest.slice_id }}
      </td>
    </tr>

    <tr class="row">
      <td class="title">JSON</td>

      <td class="content">
        {{ logData.rest.json }}
      </td>
    </tr>

    <tr class="row">
      <td class="title">Дата</td>

      <td class="content">
        {{ logData.timestamp }}
      </td>
    </tr>

    <tr class="row">
      <td class="title">Продолжительность</td>

      <td class="content">{{ logData.rest.duration_ms }} м.сек</td>
    </tr>

    <tr *ngIf="logData.rest.referrer" class="row">
      <td class="title">Ссылка</td>

      <td class="content">
        <a [href]="logData.rest.referrer"> Ссылка </a>
      </td>
    </tr>

    <!-- todo что тут должно быть в "Тело запроса"?
    <tr class="row">
      <td class="title">
        Тело запроса
      </td>

      <td class="content">
        Тело запроса
      </td>
    </tr>
    -->
  </table>
</div>
