$light-black: rgba(black, 0.87);
$light-white: rgba(white, 0.87);

$exd-primary: (
  0: black,
  1: white,
  100: #dfe6ff,
  200: #beccff,
  300: #5d80ff,
  400: #3c67ff,
  450: #2c5de5,
  480: #0037fa,
  500: #0400bf,
  550: #2648a4,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-psb-blue: (
  0: #EEF3FF,
  50: #f4f7ff,
  100: #dfe6ff,
  200: #beccff,
  300: #5d80ff,
  400: #3c67ff,
  450: #2c5de5,
  480: #0037fa,
  500: #0400bf,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

// $exd-psb-blue: (
//   100: #bbb0d6,
//   200: #998bc1,
//   300: #7767ad,
//   400: #534598,
//   500: #292584,
//   contrast: (
//     50: $light-black,
//     100: $light-black,
//     200: $light-black,
//     300: $light-black,
//     400: $light-black,
//     500: white,
//     600: white,
//     700: white,
//     800: $light-white,
//     900: $light-white,
//     A100: $light-black,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

$exd-psb-orange: (
  200: #fbd5bc,
  300: #faaf7e,
  400: #fa893f,
  500: #ff7a00,
  600: #fb6b1a,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-green: (
  200: #20f3a7,
  300: #0abb7b,
  400: #00b012,
);

$exd-secondary: (
  200: #fce4c3,
  300: #fdcd8c,
  400: #feb654,
  450: #e9b910,
  500: #ff9f1c,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-tretiary: (
  100: #fbcdab,
  200: #f8ac73,
  300: #f69b57,
  400: #f37a1f,
  500: #de6204,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-warning: (
  200: #f5c2bf,
  300: #ff9497,
  400: #e00007,
  500: #a80005,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-icon: (
  100: #f5f5f5,
  200: #ecf0f5,
  300: #dce5ef,
  400: #cddbe8,
  500: #bed0e2,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-grayscale: (
  0: #fafafa,
  50: #f1f1f1,
  100: #e4e4e4,
  200: #c7c7c7,
  250: #c4c4c4,
  300: #a1a1a1,
  400: #656565,
  450: #272822,
  500: #1a1a1a,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-main: (
  200: #bcc2c6,
  300: #7e8991,
  400: #3f4f5c,
  500: #011627,
  contrast: (
    50: $light-black,
    100: $light-black,
    200: $light-black,
    300: $light-black,
    400: $light-black,
    500: white,
    600: white,
    700: white,
    800: $light-white,
    900: $light-white,
    A100: $light-black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$exd-back: (
  500: #fbfbfb,
);
