@import './exd-colors.scss';
.gridster-row {
  border: none !important;
}

.gridster-column {
  // border-color: map-get($exd-tretiary, 500) !important;
  border: none !important;
  background-color: map-get($exd-primary, 100) !important;
  opacity: 40%;
}

gridster-item {
  overflow: visible !important;
}

gridster {
  // background-color: map-get($exd-grayscale, 50) !important;
  background-color: transparent !important;
  // background-color: white !important;
}

@media (max-width: 1200px) {
  .charts-block {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .charts-block {
    align-items: flex-start;
    width: calc(100% - 14px) !important;
  }
}
