<div class="map-container">
  <div class="header">
    <h2 class="mat-h2 exd-title-bold map-name">
      Количество военнослужащих, прошедших обучение по финансовой грамотности
    </h2>

    <div class="period-row mat-h3 exd-subheading-2-bold">
      <div class="blue-text">Период -</div> апрель 2021
    </div>

    <div class="period-row mat-h3 exd-subheading-2-bold">
      <div class="blue-text">Итог по России -</div> 287 военнослужащих
    </div>
  </div>
  <mat-divider></mat-divider>

  <div id="map" class="map"></div>
</div>
