<div class="chart-aside-panel">

  <mat-tab-group class="chart-aside-panel__tabs"
                 (selectedTabChange)="changeTab($event)">
    <mat-tab label="Данные"></mat-tab>
    <mat-tab label="Кастомизация"></mat-tab>
  </mat-tab-group>

  <div class="chart-aside-panel__body">
    <div *ngIf="currentTab === 'data'" class="chart-aside-panel__top-bar">
      <div (click)="toggleExpandedState()" class="chart-aside-panel__title">
        Тип графика
        <div class="chart-aside-panel__dropdown-icon">
          <mat-icon [@turn180]="stateExpandedAnimation">keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div class="chart-aside-panel__top-bar_expand" [@verticalHide]="stateExpandedAnimation">
        <app-icon-button *ngFor="let chart of availableCharts"
                         (click)="selectChart(chart); $event.stopPropagation()"
                         [ngClass]="{ active: chart === currentChart }"
                         [name]="'middle-' + chart">
        </app-icon-button>
      </div>
    </div>
    <div [ngSwitch]="currentChart">

      <app-table-chart *ngSwitchCase="'table'"
                       (submit)="submit($event)"
                       [datasetData]="datasetData"
                       [currentTab]="currentTab"
                       [chartData]="chartData">
      </app-table-chart>

      <app-line-chart *ngSwitchCase="'line'"
                      (submit)="submit($event)"
                      [datasetData]="datasetData"
                      [currentTab]="currentTab"
                      [chartData]="chartData">
      </app-line-chart>

      <app-pie-chart *ngSwitchCase="'pie'"
                      (submit)="submit($event)"
                      [datasetData]="datasetData"
                      [currentTab]="currentTab"
                      [chartData]="chartData">
      </app-pie-chart>

      <app-bar-chart *ngIf="currentChart === 'dist_bar' || currentChart === 'histogram'"
                     (submit)="submit($event)"
                     [datasetData]="datasetData"
                     [currentTab]="currentTab"
                     [chartData]="chartData">
      </app-bar-chart>

    </div>
  </div>
</div>
