
.texts {
  width: 300px;
}

.uk-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.margin-bottom {
  margin-bottom: 28px;
}

.card {
  width: 1116px;
  padding: 16px;
  background: #f5f1f1;
  border-radius: 4px;
}

.upload {
  width: 330px;
}
