<!-- <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>

  <mat-card class="login-container">
      <mat-card-header>Вход в систему</mat-card-header>
      <mat-form-field appearance="outline">
          <mat-label>Логин</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-hint>Введите логин</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-hint>Введите пароль</mat-hint>
      </mat-form-field>

      <button mat-stroked-button color="primary">Войти</button>
  </mat-card> -->

<router-outlet></router-outlet>

<div
  id="js-hidden-element-for-emit-click"
  style="display:none;"
></div>
