<mat-card class="summary-company-card" [ngClass]="{'p-24': true}">
  <mat-card-content>
    <div class="text--header mb-16">Сводка о компании<span><mat-icon class="mat-18 roll-icon" appRoller [parentClass]="'parentToggleCompanySummary'">horizontal_rule</mat-icon></span></div>
    <div class="parentToggleCompanySummary">
      <div class="caption-group-row mb-16">
        <div class="col">
          <div class="type">Наименование</div>
          <div class="title">ООО “Копытоносец”</div>
        </div>
        <div class="col">
          <div class="type">ИНН</div>
          <div class="title">16758390602351</div>
        </div>
      </div>
      <hr class="mb-16">
      <div class="body-group mb-16">
        <div class="row mb-16">
          <div class="col">
            <div class="type">Вид деятельности</div>
            <div class="title">Услуги безопасности</div>
          </div>
          <div class="col">
            <div class="type">Срок деятельности</div>
            <div class="title">48 мес</div>
          </div>
        </div>
        <div class="row mb-16">
          <div class="col">
            <div class="type mb-6">Выручка</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td class="labels"><div class="label label-1"></div></td>
                  <td>2018</td>
                  <td>178 000 325 руб.</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-2"></div></td>
                  <td>2017</td>
                  <td>178 000 325 руб</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-3"></div></td>
                  <td>2016</td>
                  <td>178 000 325 руб</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-4"></div></td>
                  <td>2015</td>
                  <td>178 000 325 руб</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col">
            <div class="type mb-6">Денежные средства и денежные эквиваленты</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td class="labels"><div class="label label-1"></div></td>
                  <td>2018</td>
                  <td>178 000 325 руб.</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-2"></div></td>
                  <td>2017</td>
                  <td>178 000 325 руб</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-3"></div></td>
                  <td>2016</td>
                  <td>178 000 325 руб</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-16">
          <div class="col">
            <div class="type mb-6">Проценты к получению</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td class="labels"><div class="label label-1"></div></td>
                  <td>2018</td>
                  <td>4%</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-2"></div></td>
                  <td>2017</td>
                  <td>2%</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-3"></div></td>
                  <td>2016</td>
                  <td>1%</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-4"></div></td>
                  <td>2015</td>
                  <td>13%</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col">
            <div class="type mb-6">Платежи в связи с оплатой труда работников</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td class="labels"><div class="label label-1"></div></td>
                  <td>2018</td>
                  <td>178 000 325 руб.</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-2"></div></td>
                  <td>2017</td>
                  <td>178 000 325 руб</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-3"></div></td>
                  <td>2016</td>
                  <td>178 000 325 руб</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-4"></div></td>
                  <td>2015</td>
                  <td>178 000 325 руб</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-16">
          <div class="col">
            <div class="type mb-6">Банки, в которых открыты счета</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td class="labels"><div class="label label-1"></div></td>
                  <td>Газпромбанк</td>
                  <td>Счетов: 2</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-2"></div></td>
                  <td>АкБарсБанк</td>
                  <td>Счетов: 1</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-3"></div></td>
                  <td>Альфа Банк</td>
                  <td>Счетов: 3</td>
                </tr>
                <tr>
                  <td class="labels"><div class="label label-4"></div></td>
                  <td>Тинькофф Банк</td>
                  <td>Счетов: 1</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-16">
          <div class="col">
            <div class="type mb-6">Наличие продуктов/счетов в ПСБ</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td>Кредит бесконечный</td>
                  <td>Открыт 23.09.2019</td>
                </tr>
                <tr>
                  <td>Счет №234584368236</td>
                  <td>Открыт 31.12.2019</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-16">
          <div class="col">
            <div class="type mb-6">Участие в госзакупках</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td class="date">23.04.2020</td>
                  <td>BA–33285–9 “Разработка чего то и поставка чего–то”</td>
                  <td>на 1 430 239 руб.</td>
                </tr>
                <tr>
                  <td class="date">07.01.2019</td>
                  <td>CM–783 “Архитектурная планировка чего–то грандиозного”</td>
                  <td>на 500 000 000 руб.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-16">
          <div class="col">
            <div class="type mb-6">Виды лицензий</div>
            <div>
              <table class="stripped-table">
                <tr>
                  <td>Лицензия на оказание стоматологических услуг</td>
                  <td>Выдана 23.09.2019</td>
                </tr>
                <tr>
                  <td>Лицензия на проведение трюков с огнем</td>
                  <td>Выдана 31.12.2019</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="type mb-6">Сайт компании</div>
            <div class="site-company">
              <mat-icon class="mat-12">link</mat-icon> <a href="logomotivcompany.com">logomotivcompany.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
