ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.container__info {
  width: 1014px;
  height: 112px;
  display: flex;
  justify-content: space-between;

  .info__col {
    width: 345px;
    .col__item + .col__item {
      margin-top: 16px;
    }
  }

  .col__item {
    height: 48px;
  }

  .item__label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
  }

  .item__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

  }
}

.badges {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 12px;
  .badge {
    &:hover{
      cursor: pointer;
    }
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    &__content {
      padding: 3px 7px;
      font-size: 18px;
      margin-right: 8px;
      border-radius: 4px;
      border: 1px solid #3D50B7;
      color: #3D50B7;
    }
    &__delete {
      text-align: center;
      border-radius: 4px;
      border: 1px solid #A7A7A7;
      color: #A7A7A7;
    }
  }
}
hr {
  border: none;
  height: 1px;
  background: #D5D5D5;
  box-sizing: border-box;
  margin: 26px 0 16px -24px;
  width: 1112px;
}
