<div *ngIf="formGroup" [formGroup]="formGroup">
  <div class="chart-form" *ngIf="currentTab === 'data'">

    <div (click)="toggleExpandedState('time')" class="chart-aside-panel__title top-line">
      Время
      <div class="chart-aside-panel__dropdown-icon ">
        <mat-icon [@turn180]="stateExpandedAnimation.time">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="chart-aside-panel__top-bar_expand vertical" [@verticalHide]="stateExpandedAnimation.time">

      <mat-form-field appearance="outline"
                      color="primary"
                      class="mat-form-field small-input form-input">
        <mat-label>Столбец времени</mat-label>

        <mat-select formControlName="granularity_sqla">
          <mat-option *ngFor="let column of dateColumns" [value]="column.column_name">{{column.column_name}}</mat-option>
        </mat-select>
      </mat-form-field>


      <app-multi-select-panel [availableAdd]="false"
                              label="Диапазон времени"
                              [availableDeleteItem]="false"
                              (addClick)="itemClick($event, 'time_range')"
                              (itemClick)="itemClick($event, 'time_range')"
                              [selected]="this.multipleOptionsFieldsState.time_range">
      </app-multi-select-panel>
    </div>
    <div (click)="toggleExpandedState('fetch')" class="chart-aside-panel__title top-line">
      Запрос
      <div class="chart-aside-panel__dropdown-icon">
        <mat-icon [@turn180]="stateExpandedAnimation.time">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="chart-aside-panel__top-bar_expand vertical" [@verticalHide]="stateExpandedAnimation.fetch">


      <div class="chart-form__aggregate flex-gap">

        <app-chips-autocomplete-field label="Столбцы"
                                      [allOptions]="allColumns"
                                      [formControl]="getFormControl('all_columns')">
        </app-chips-autocomplete-field>


        <app-multi-select-panel [availableAdd]="true"
                                label="Фильтры"
                                (addClick)="itemClick($event, 'adhoc_filters')"
                                (itemClick)="itemClick($event, 'adhoc_filters')"
                                [selected]="multipleOptionsFieldsState.adhoc_filters">
        </app-multi-select-panel>

        <app-multi-select-panel [availableAdd]="true"
                                label="Метрики"
                                (addClick)="itemClick($event, 'metrics')"
                                (itemClick)="itemClick($event, 'metrics')"
                                [selected]="multipleOptionsFieldsState.metrics">

        </app-multi-select-panel>

        <mat-form-field appearance="outline"
                        color="primary"
                        class="mat-form-field small-input form-input">
          <mat-label>Лимит строк</mat-label>

          <mat-select formControlName="row_limit">
            <mat-option *ngFor="let limit of rowLimits" [value]="limit">{{limit}}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-chips-autocomplete-field label="Сгруппировать по"
                                      [allOptions]="groupByOptions"
                                      [formControl]="getFormControl('groupby')">
        </app-chips-autocomplete-field>
      </div>
    </div>
  </div>

  <div class="chart-form" *ngIf="currentTab === 'customize'">

    <div (click)="toggleExpandedState('settings')" class="chart-aside-panel__title">
      Настройки
      <div class="chart-aside-panel__dropdown-icon">
        <mat-icon [@turn180]="stateExpandedAnimation.settings">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="chart-aside-panel__top-bar_expand vertical" [@verticalHide]="stateExpandedAnimation.settings">

      <app-color-schema-select [control]="getFormControl('color_scheme')">

      </app-color-schema-select>

      <div class="chart-form__checkbox-group">
        <mat-checkbox formControlName="show_legend">Легенда
        </mat-checkbox>
      </div>

<!--      <mat-form-field appearance="outline"-->
<!--                      color="primary"-->
<!--                      class="mat-form-field small-input form-input">-->
<!--        <mat-label>Стиль линий</mat-label>-->

<!--        <mat-select formControlName="line_interpolation">-->
<!--          <mat-option *ngFor="let style of lineStyles" [value]="style.value">{{style.label}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

      <mat-form-field appearance="outline"
                      color="primary"
                      class="mat-form-field small-input form-input">
        <mat-label>Наименование оси X</mat-label>

        <input matInput formControlName="x_axis_label">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      color="primary"
                      class="mat-form-field small-input form-input">
        <mat-label>Наименование оси Y</mat-label>

        <input matInput formControlName="y_axis_label">
      </mat-form-field>
    </div>
  </div>
</div>
