@import "../../styles/exd-colors.scss";

.mat-slide-toggle {
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: map-get($exd-psb-blue, 480) !important;
    }

    .mat-slide-toggle-thumb {
      background-color: map-get($exd-primary, 1) !important;
    }
  }

  .mat-slide-toggle-label {
  }

  .mat-slide-toggle-bar {
    width: 36px;
    height: 20px;
    border-radius: 10px;
    background-color: map-get($exd-grayscale, 300);

    .mat-slide-toggle-thumb-container {
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;

      .mat-slide-toggle-thumb {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.mat-slider {
  margin-bottom: 20px;
}
