.filter-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.filter-radio-button {
    margin: 5px;
}


.custom-filter-container {
    display: flex;
    flex-direction: column;
}

.custom-form-field {
    width: 360px;
}

.filter-type {
    margin-top: 30px;
}