@import '../../../../styles/exd-colors.scss';

.charts-block {
  flex-wrap: wrap;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  &-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 455px 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;

    * {
      box-sizing: border-box;
    }

    @media (max-width: 1520px) {
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 10px;
    }

    .dashboard-filters-mobile-wrapper {
      // Компенсация gap:10 и скругленные уголки
      margin-top: -20px;
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;

      @media (max-width: 1520px) {
        display: block;
        max-height: 0;
      }

      &.opened {
        max-height: 80px;

        @media (max-width: 800px) {
          max-height: 135px;
        }
      }

      &.closed {
        max-height: 0;
      }

      .dashboard-filters {
        justify-content: space-between;
        align-items: center;
        padding: 22px 16px 18px;

        @media (max-width: 800px) {
          display: block;

          .selects-container {
            margin-top: 20px !important;
          }
        }

        .mat-button-toggle-group {
          margin: 8px 0 -4px 0;
        }

        .selects-container {
          margin: 0 -6px;

          .filters-input {
            margin: 0 6px;
            width: 189px;
            height: 36px !important;

            .mat-form-field-wrapper,
            .mat-form-field-outline {
              height: 36px !important;
            }

            .mat-form-field-infix {
              margin-top: 0 !important;
            }
          }
        }
      }
    }
  }

  &-tile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &-wrapper {
      .mat-paginator {
        .mat-paginator-page-size-label::after {
          background-color: map-get($exd-grayscale, 50) !important;
        }

        background-color: transparent;
      }
    }
  }

  &-actions {
    display: flex;
    gap: 16px;

    .mat-form-field-wrapper {
      height: 36px;

      @media (max-width: 890px) {
        width: 140px;
      }
    }

    .mat-form-field {
      position: relative;
      width: 176px;

      @media (max-width: 890px) {
        display: flex;
        justify-content: flex-end;
        width: auto;
        min-width: auto !important;
      }
    }

    &-icon-buttons {
      display: flex;
      gap: 8px;

      app-icon-button {
        mat-icon {
          opacity: 1 !important;
        }

        .icon-button,
        rect,
        path {
          transition: 0.3s;
        }

        &.active {
          .icon-button {
            background: map-get($exd-grayscale, 200);

            rect,
            path {
              fill: white;
            }
          }
        }
      }

      .dashboard-actions-title {
        margin-left: 20px;
        display: none;
        font-weight: bold;
        font-size: 20px;
        color: #000;

        @media (max-width: 1520px) {
          margin-left: 10px;
          margin-right: 10px;
          display: block;
          line-height: 1.8;
        }

        @media (max-width: 700px) {
          width: 180px;
          line-height: 1;
        }
      }
    }

    .filters-mobile {
      border: none;
      background-color: transparent;
      cursor: pointer;

      @media (min-width: 1520px) {
        display: none;
      }

      &.open {
        .table-filters-default {
          display: none;
        }

        .table-filters-rotate {
          display: block;
        }
      }

      &.close {
        .table-filters-default {
          display: block;
        }

        .table-filters-rotate {
          display: none;
        }
      }
    }

    &-wrapper {
      background: white;
      border-radius: 8px;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0 12px;
      justify-content: space-between;
    }
  }

  &-header {
    padding: 12px 20px;
    background: white;
    border-radius: 8px;
    width: 100%;
    height: 60px;

    @media (max-width: 1520px) {
      display: none;
    }

    h1 {
      margin: 0;
    }
  }

  &-filters {
    border-radius: 8px;
    background: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .mat-form-field {
      width: 100%;

      .mat-form-field-outline {
        height: 48px;
      }

      .mat-form-field-infix {
        margin-top: 7px;
      }

      .mat-form-field-label .ng-star-inserted {
        font-size: 16px !important;
      }
    }

    .mat-button-toggle-group {
      margin-bottom: 20px;
    }

    &-wrapper {
      width: 100%;

      @media (max-width: 1520px) {
        display: none;
      }
    }
  }

  &-list {
    border-radius: 8px;
    width: 100%;
    background: white;
    position: relative;
  }

  &-table {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;

    @media (max-width: 1520px) {
      margin-top: 10px;
      grid-template-columns: 1fr;
      padding: 0 10px;
    }

    .mat-header-row {
      .mat-header-cell {
        position: sticky;
        z-index: 1;
        top: 0;
        padding: 0 4px;
        word-wrap: break-word;
        white-space: normal;
        background-color: map-get($exd-primary, 1);
      }

      .mat-header-cell:nth-child(1) {
        min-width: 40px;
        width: 40px;
        max-width: 40px;
      }

      .mat-header-cell:nth-child(2) {
        min-width: 40px;
        width: 40px;
        max-width: 40px;
      }

      .mat-header-cell:nth-child(3) {
        min-width: 250px;
        width: 1000px;
      }

      .mat-header-cell:nth-child(4) {
        min-width: 120px;
        width: 130px;
        max-width: 140px;
      }

      .mat-header-cell:nth-child(5) {
        min-width: 100px;
        width: 110px;
        max-width: 140px;
      }

      .mat-header-cell:nth-child(6) {
        min-width: 120px;
        width: 130px;
        max-width: 140px;
      }

      .mat-header-cell:nth-child(7) {
        min-width: 120px;
        width: 130px;
        max-width: 140px;
      }

      .mat-header-cell:nth-child(8) {
        min-width: 130px;
        width: 140px;
        max-width: 150px;
      }

      .mat-header-cell:nth-child(9) {
        min-width: 40px;
        width: 40px;
        max-width: 40px;
      }
    }

    .checkbox-column {
      padding-left: 19px !important;

      @media (max-width: 1020px) {
        display: none;
      }
    }

    .cell-hidden-ipad {
      @media (max-width: 1020px) {
        display: none;
      }
    }

    .star-radio-column {
      padding: 0 15px;
    }

    .mat-row {
      height: 52px;

      .mat-cell {
        padding: 0 4px;
        word-wrap: break-word;
        white-space: normal;

        &:nth-child(2) {
          padding-top: 6px;
          text-align: center;
        }

        &:nth-child(3) {
          font-size: 16px;
          line-height: 24px;
        }

        .dashboard-owners {
          position: relative;
          display: flex;
          gap: 4px;

          .dashboard-owners-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            padding-right: 1px;
            border-radius: 50%;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            color: map-get($exd-primary, 1);
            background-color: map-get($exd-grayscale, 200);
          }

          .dashboard-owners-item-last:hover + .dashboard-owners-item-popup {
            opacity: 1;
          }

          .dashboard-owners-item-popup {
            position: absolute;
            z-index: 1;
            top: 26px;
            right: 26px;
            border-radius: 4px;
            padding: 8px;
            background-color: map-get($exd-grayscale, 400);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.16);
            opacity: 0;
            transition: 0.1s opacity;
            pointer-events: none;

            .dashboard-owners-item-popup-text {
              white-space: nowrap;
              font-size: 12px;
              line-height: 16px;
              color: map-get($exd-primary, 1);
            }
          }
        }
      }
    }

    .custom-badge {
      height: 20px;
    }

    .mat-column-dashboard_title .col300 {
      width: 300px;
      display: inline-block;

      @media (max-width: 1020px) {
        width: 200px;
      }
    }

    &-actions {
      &-button {
        button.icon-button {
          background: white;

          &:hover {
            background: white;
          }
        }
      }

      &-menu {
        button {
          path {
            fill: map-get($exd-grayscale, 300);
          }
        }
      }
    }

    &-footer {
      display: flex;
      position: sticky;
      bottom: 0;
      border-radius: 8px;
      background: white;
      justify-content: space-between;

      &-actions {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 20px;
      }

      &-group-delete.mat-stroked-button.primary-stroked-button {
        width: 36px;
        height: 36px;
        min-width: 36px;
        border-radius: 50%;
        padding: 0;

        svg {
          width: 18px;
          height: 18px;
          position: relative;
          top: -1px;

          path {
            stroke: transparent !important;
          }
        }
      }
    }
  }

  &-paginator {
    .mat-paginator-page-size {
      @media (max-width: 1020px) {
        display: none !important;
      }
    }
  }
}
