<div class="multi-select-panel">
  <div class="multi-select-panel__label">{{label}}</div>
  <div *ngFor="let item of selected; let i = index"
       (click)="itemClickHandler(item, $event, i)"
       matRipple
       class="multi-select-panel__item">
    <mat-icon *ngIf="availableDeleteItem" (click)="deleteItem(i)">close</mat-icon>
    <div class="multi-select-panel__item_label">{{item.label}}</div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div *ngIf="availableAdd"
       (click)="add($event)"
       matRipple
       class="multi-select-panel__add">
    <mat-icon>add</mat-icon>
    <div class="multi-select-panel__item_label">Добавить</div>
  </div>
</div>
