@import "../../../../../styles/exd-colors.scss";

.dataset-edit {
  margin: 40px auto 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  min-height: 424px;
  border-radius: 8px;
  padding: 20px 0 40px;
  background-color: map-get($exd-primary, 1);

  .title {
    padding: 0 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: map-get($exd-primary, 0);
    &-light {
      color: map-get($exd-grayscale, 400);
    }
  }

  .tabs {
    margin-top: 20px;
  }

  .actions {
    margin: 32px 32px 0;
    display: flex;
    gap: 16px;
    .additional-button {
      margin-left: auto;
      path {
        fill: white;
      }
    }
  }

  mat-tab {
    min-height: 240px;
  }
}
